{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'students:quiz_list' %}">Quizzes</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{quiz.name}}</li>
    </ol>
  </nav>
  <div class="progress" role="progressbar" aria-label="Quiz progress" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar overflow-visible bg-success" style="width: {{ progress }}%">Question: {{ answered_questions|add:"1" }} of {{total_questions}}({{ progress }}%)</div>
  </div>

  <p class="lead">{{ question.text|safe }}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>
{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}